svg {
    margin-top: 9px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        fill: green;
    }

    &.hide {
        display: none;
    }

    &.active {
        fill: green;
    }
}
